# InfluxDB 2.x configuration

# Primary settings
[general]
  # Bind address for the main HTTP service
  http-bind-address = "0.0.0.0:8086"
  # Disable reporting usage data to InfluxData
  reporting-disabled = true
  log-level = "{{ influxdb_level }}"

{% if influxdb_cert != "" and influxdb_key != "" %}
[tls]
  cert = "{{ influxdb_cert }}"
  key = "{{ influxdb_key }}"
{% endif %}

[storage]
  # Path to the boltdb database
  boltdb-path = "{{ influxdb_data_path }}/influxd.bolt"
  # Path where TSM engine stores TSM files
  engine-path = "{{ influxdb_data_path }}/engine"
  