---
# handlers file for alloy

- name: Restart alloy
  ansible.builtin.systemd_service:
    daemon_reload: true
    name: alloy
    state: restarted
    enabled: true
  become: true
  when: not (alloy_test_mode | default(false))
