// =======================================================================================

// https://github.com/grafana/alloy/blob/main/example-config.alloy
// https://github.com/grafana/intro-to-mltp/blob/main/alloy/config.alloy
// https://nickb.dev/blog/introduction-to-journald-and-structured-logging/
// journalctl _COMM=sshd -o verbose


// =======================================================================================
logging {
  level = "info"
}

// =======================================================================================
// Include optional monitoring components based on configuration
{% if alloy_monitor_apache | default(false) %}
{% include 'apache-logs.alloy.j2' %}
{% endif %}

{% if alloy_monitor_ispconfig | default(false) %}
{% include 'apache-ispconfig.alloy.j2' %}
{% endif %}

{% if alloy_monitor_fail2ban | default(false) %}
{% include 'fail2ban.alloy.j2' %}
{% endif %}

{% if alloy_monitor_mail | default(false) %}
{% include 'mail.alloy.j2' %}
{% endif %}

{% if alloy_monitor_bind9 | default(false) %}
{% include 'bind9.alloy.j2' %}
{% endif %}

{% if alloy_monitor_wg | default(false) %}
{% include 'wireguard.alloy.j2' %}
{% endif %}

{% if alloy_monitor_gitea | default(false) %}
{% include 'gitea.alloy.j2' %}
{% endif %}



// =======================================================================================
// Jounald is monitoried by default

loki.relabel "journal" {
  forward_to = []

  rule {
    source_labels = ["__journal_priority_keyword"]
    target_label  = "level"
  }
  rule {
    source_labels = ["__journal__systemd_unit"]
    target_label  = "unit"
  }
  rule {
    source_labels = ["__journal__hostname"]
    target_label = "hostname"
  }
  rule {
    source_labels = ["__journal__transport"]
    target_label = "transport"
  }
}

loki.source.journal "read"  {
  forward_to    =  [{{ alloy_loki_endpoints | map(attribute='label') | map('regex_replace', '^(.*)$', 'loki.write.\\1.receiver') | join(', ') }}]
  relabel_rules = loki.relabel.journal.rules
  max_age       = "12h"
  // path          = "/var/log/journal"
  labels        = {component = "loki.source.journal"}
}

{# Then create write sections for each endpoint #}
{% for endpoint in alloy_loki_endpoints %}
loki.write "{{ endpoint.label }}" {
  endpoint {
    url = "http://{{ endpoint.endpoint }}:3100/loki/api/v1/push"
  }
}
{% endfor %}

