local.file_match "gitea" {
  path_targets = [{
    __address__ = "localhost",
    __path__    = "/var/log/gitea/gitea.log",
    hostname    = "{{ ansible_fqdn }}",
    job         = "gitea",
    component   = "gitea_server",
  }]
}

loki.process "gitea" {
  forward_to    =  [{{ alloy_loki_endpoints | map(attribute='label') | map('regex_replace', '^(.*)$', 'loki.write.\\1.receiver') | join(', ') }}]

  // Extract timestamp and log level
  stage.regex {
    expression = "^(?P<timestamp>\\d{4}/\\d{2}/\\d{2} \\d{2}:\\d{2}:\\d{2}) (?P<source>.*?)\\s+\\[(?P<level>\\w+)\\] (?P<message>.*)"
  }

  // Convert timestamp to standard format
  stage.timestamp {
    source = "timestamp"
    format = "2006/01/02 15:04:05"
  }

  // Add basic labels
  stage.labels {
    values = {
      level = null,
      source = null,
    }
  }

  // Parse router log entries specifically  
  stage.match {
    selector = "{message=~\"router: completed.*\"}"
    
    stage.regex {
      source = "message"
      expression = "router: completed (?P<gitea_method>\\w+) (?P<gitea_path>\\S+) for [^:]+:\\d+, (?P<gitea_status>\\d+)"
    }
    
    // Only add the labels we want to keep
    stage.static_labels {
      values = {
        gitea_method = null,
        gitea_path = null, 
        gitea_status = null,
      }
    }
  }
  

}

loki.source.file "gitea" {
  targets               = local.file_match.gitea.targets
  forward_to            = [loki.process.gitea.receiver]
  legacy_positions_file = "/tmp/positions.yaml"
}