---
# defaults file for influxdb

influxdb_level: info
influxdb_state: "present"
influxdb_configure: false

# this allows reinstalling package without removing it?????
influxdb_reload: false

# suppresses output of influx configuration. (at this time)
influxdb_test: false

influxdb_org: lavnet
influxdb_bucket: telegraf
influxdb_username: lavender
influxdb_password: "generated"

influxdb_cert: ""
influxdb_key: ""

influxdb_delete_config: false
influxdb_delete_data: false

# SMELL this is used to communicate with telegraf
influxdb_operators_token: ""

influxdb_force_reload: false
influxdb_force_configure: false

# Set of buckets to create
influxdb_buckets: [telegraf, metrics]

# You can override this path here.
# SMELL: I have been redirecting to a NFS mount.
#        now moving to S3 for long term storage
influxdb_data_path: /var/lib/influxdb

# nfs mounts have to happen before package install
# SMELL: do I continue this??
influxdb_nfs: false

# this is for tiered storage, but that will not happen to v3
influxdb_s3: false
